.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 50px 40px 350px 50px;
}

#navbar {
  grid-column: span 5;
}

#sidebar {
  writing-mode: vertical-rl;
  grid-row: span 3;
}

#title {
  grid-column: span 4;
}


#content {
  grid-row: span 2;
  grid-column: span 4;

}

#footer {
  grid-column: span 5;
}
